.assignsubmission-external-server-table td {
    padding-right: 2rem;
}

.assignsubmission-external-server-iframe {
    padding: 0.5rem 1rem;
    width: 100%;
    height: 650px;
}

.assignsubmission-external-server-settings-details {
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    margin: 2rem 1rem 1rem 1rem;    
}

.assignsubmission-external-server-settings-legend {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    background-color: white;
    top: -0.75em;
    display: inline-block;
    width: unset;
    padding: 0 0.5em;
}